body {
    padding-top: 70px;
    padding-bottom: 30px;
}

footer {
    margin: 50px 0;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.caption {
    overflow: hidden;
}
.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 25%;
}

.top-buffer {
    margin-top:40px;
}